* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

  .spinner {
            display: none;
            width: 50px;
            height: 50px;
            border: 5px solid #f3f3f3;
            border-top: 5px solid #84A98C;
            border-radius: 50%;
            animation: spin 1s linear infinite;
            margin: 20px auto;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

body {
    background-color: #2F3E46;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

/* Adding the background image with a muted effect and gradient */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('Crew.jpeg') no-repeat center center/cover;
    opacity: 0.3; /* Muting the image */
    z-index: -1; /* Place it behind everything else */
    background-size: cover;
    background-position: center;
    /* Applying gradient for the fade effect */
    background: linear-gradient(to bottom, rgba(47, 62, 70, 0.9), rgba(84, 169, 140, 0.7)), 
                url('Crew.jpeg') no-repeat center center/cover;
}

.container {
    background-color: #CAD2C5;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 1; /* Ensure form is above the background */
}

.form-container {
    max-width: 400px;
    width: 100%;
}

h1 {
    color: #354F52;
    text-align: center;
    margin-bottom: 2rem;
}

.toggle-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.toggle-buttons button {
    width: 48%;
    padding: 0.75rem;
    border: none;
    background-color: #84A98C;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.toggle-buttons button.active {
    background-color: #52796F;
}

form {
    display: none;
    flex-direction: column;
}

form.active {
    display: flex;
}

label {
    color: #354F52;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input {
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    border: 1px solid #52796F;
    outline: none;
}

input:focus {
    border-color: #84A98C;
}

.btn {
    background-color: #52796F;
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    background-color: #354F52;
}

@media (max-width: 500px) {
    .container {
        padding: 1rem;
    }

    .form-container {
        padding: 1rem;
    }
}
